<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/button.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="bac">
        <img src="../assets/ok.jpg" alt="">
    </div>
   
<form class="location" action="/auth" method="post">
    <button type="submit" name="button" class="aut">AUTHENTICATE</button>
</form>

</body>
</html>

