

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Poppins&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&family=Poppins&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/lastmovies.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" >

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
   



</head>

<body onload="loaders()">


    

    <div onclick="toggleSA()" class="reviewRate">Rate
        <div class="add"> <img src="../images/add.png" alt=""></div>
    </div>

    <div id="loader"></div>
    <div class="breaker"></div>     
    <a href="#" class="backtop">		
        <img src="../images/screw.png" class="screw" alt="">
        <img src="../images/up.png" class="upload" alt="">
    </a>

    <a onclick="toggle()" class="hamb">		
        <span class="fas fa-hamburger"></span>
    </a>

    <div class="hamnavi">
        <div class="navel">
            <a href="#">Home</a>

       
            <a href="#about">New Release</a>
            <a href="#skill">Movies News</a>
            <a href="#project">Suggested</a>
   
            <a href="#contact">Contact</a>
        </div>


        <a href="../index.php"> <button>Intro</button></a>

    </div>


    <header>
        <div class="containerN ">
            <!-- /* -------------------------------Navigation bar----------------------------- */ -->

            <nav id="navi" class="flex items-center justify-between">
                <div class="left flex items-center">
                    <div class="branding flex items-center"><img src="../assets/hashtag.png" alt=""></div>
                    <div>
                        <a href="#">Home</a>

                        <a href="#about">New Release</a>
                        <a href="#skill">Movies News</a>
                        <a href="#project">Suggested</a>
               
                        <a href="#contact">Contact</a>
                    </div>

                </div>
                <div class="right">
                    <a href="../index.php"> <button>Intro</button></a>
                </div>
            </nav>


            <!-- 
        /* -------------------------------End Navigation bar----------------------------- */


        /* ===================================================================================================== */
        
        /* -------------------------------Hero Section----------------------------- */ -->

            <div class="hero flex items-center justify-between">

                <div class="lef flex-1 flex justify-center"><img src="../assets/IronMan.png" alt=""></div>

                <div class="righ flex-1 ">
                    <h6>Top Rated : 8.9 stars</h6>
                    <h1>Iron Man<span> 3</span></h1>
                    <h2>The Game War</h2>
                    <p>Iron Man 3 is a 2013 American superhero film based on the Marvel Comics character Iron Man, produced by Marvel Studios and distributed by Walt Disney Studios Motion Pictures.
                    </p>
                    <div>


                        <!-- -----------------------------------------------------download sample cv pdf----------------------------------- -->

                        <a  href="https://hdmovieshubz.guru/"> <button>Download</button></a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- 
  

/* -------------------------------End Hero Section----------------------------- */


/* ===================================================================================================== */

/* -------------------------------Career Objective----------------------------- */

-->


    <!-- 
     -->

    <div id="about" class="containerA">

        <div class="containerC flex-1">
            <div class="box">
                <div class="imgBx">
                    <img src="../assets/ludoposter.jpg" alt="">
                </div>
                <div class="content">
                    <div>
                        <h2>LUDO 2020</h2>
                        <p>Stars: Pankaj Tripathi, Abhishek Bachchan, Rajkummar Rao </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="abouttext flex-1">
            <h2>New Release (Rating : 8.9 Stars)</h2>
            <h1>Ludo 2020</h1>

            <p>Ludo is a 2020 Indian anthology dark comedy crime film directed by Anurag Basu. It is produced by Bhushan Kumar, Divya Khosla Kumar, Krishan Kumar, Anurag Basu, Tani Basu and Deepshika Bose under the banners of T-Series, Anurag Basu Productions and Ishana Movies.</p>
           <p>Director: Anurag Basu </p><p>
            Writers: Anurag Basu (screenplay), Anurag Basu (story)</p>
        </div>
    </div>




    <section id="skill" class="services">



        <div class="container">

            <h1 class="section-heading"><span>Movies</span> News</h1>
            <p>Keen in thinking new idea and Developing it</p>

            <div class="card-wrapper">

    
                <div class="overcard">
                    <div class="card">
                        <img src="../assets/new1.jpg" alt="">

                        <h2>Ryan Reynolds</h2>
                        <p>Ryan Reynolds opted not to sign a petition circulating to have a Vancouver street named after him, pointing out potential unfortunate side effects.</p>
                    </div>
                </div>
      
                <div class="overcard">
                    <div class="card">
                        <img src="../assets/new2.jpg" alt="">

                        <h2>MCU's Spider-Man 3</h2>
                        <p>Recent fan art for Spider-Man: Homecoming 3 imagines the return of Alfred Molina as Doc Ock and the fight with Tom Holland's MCU Spider-Man.</p>
                    </div>
                </div>
                
                <div class="overcard">
                    <div class="card">
                        <img src="../assets/new3.jpg" alt="">

                        <h2>Kung Fu Panda </h2>
                        <p>Kung Fu Panda is a hit animated franchise that features the voice of Dustin Hoffman as mentor Master Shifu, but what kind of animal is he?</p>
                    </div>
                </div>



            </div>
           
            
        </div>

    </section>



    <!-- 
        /* -------------------------------End Skill Section----------------------------- */


 
    
    -->

    <section class="freelancer">
        <h1>curious to Movies</h1>
        <p>No good movie is too long and no bad movie is short enough.</p>




        <!-- -----------------------------------------down load sample cv pdf------------------------------------- -->





        <a href="https://hdmovieshubz.guru/"> <button>Download</button></a>
    </section>


    <section class="personalsummmary">
        <div class="text">
            <div class="heading">FILM PERSONAL <span>STATEMENT</span></div>
            <div class="subheading">What is a film personal statement? When you apply to university, you need to write a film personal statement to convince the course leaders that you'll be a great candidate on their course. A successful film personal statement should include a breakdown of your skills, achievements and ambitions.</div>
        </div>
    </section>
    <section class="personalsummmary">
        <div class="text">
            <div class="heading">MOVIES <span>AND</span> INTEREST</div>
            <div class="subheading">Ryan Reynolds opted not to sign a petition circulating to have a Vancouver street named after him, pointing out potential unfortunate side effects.</div>
        </div>
    </section>


    <section id="project" class="myprojectdetail">


        <div class="myproject"><span>MOVIES </span>SUGGESTED</div>
        <div class="undermyprojectdetail">Think , Explore and Create </div>

        <div class="teamdetCon">
            <div class="crous" style="z-index: 10000;">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        
                        <section id="project" class="myprojectdetail">
                            <div class="project">
            
                                <div class="containerP">
                                    <div class="container1">
                                        <div class="wrapper">
                                            <a>
                                                <img onclick="imgt1()" class="4" src="../assets/invisible.jpg"  alt="">
                                            </a>
                                            <div class="title">The Invisible Guest</div>
                                            <div class="place">Rating: 8.1 / 10</div>
            
            
                                        </div>
                                        <div class="content">
                                            <p>A successful entrepreneur accused of murder and a witness preparation impregnable defense.</p>
                                            <div class="button">
                                                
                                                <div class="btn">
                                                    <a href="https://www.jetphotos.com/registration/D-HBUB">
                                                        <button>Webpage</button> </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                                
                            </div>
                        </section>
            
            
                      </div>
                      <div class="carousel-item">
                        
                        <section id="project" class="myprojectdetail">
                            <div class="project">
            
                          
            
                                <div class="containerP">
                                    <div class="container2">
                                        <div class="wrapper">
                                            <a>
                                                <img class="5" onclick="imgt2()" src="../assets/buried.jpg" alt="">
                                            </a>
                                            <div class="title">Buried</div>
                                            <div class="place">Rating: 7.0 / 10</div>
            
            
                                        </div>
                                        <div class="content">
                                            <p>Paul is a U.S. truck driver working in Iraq. After an attack by a group of death trap.</p>
                                            <div class="button">
                                                <div class="btn">
                                                    <a onclick="mariof()"> <button>Get Link</button></a>
            
                                                </div>
                                                <div class="btn">
                                                    <a href="https://hdmovieshubz.guru/the-mandalorian-season-2-english-720p/"> <button>Webpage</button> </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                             
                            </div>
                        </section>
            
                      </div>
                      <div class="carousel-item">
                        <section id="project" class="myprojectdetail">
                            <div class="project">
            
            
                              
                                <div class="containerP">
                                    <div class="container3">
                                        <div class="wrapper">
                                            <a>
                                                <img onclick="imgt3()" class="6" src="../images/tic.png" alt="">
                                            </a>
                                            <div class="title">The Mandalorian</div>
                                            <div class="place">Rating: 8.7 / 10</div>
                            
            
                                        </div>
                                        <div class="content">
                                            <p>The travels of a lone bounty hunter in the outer reaches of the galaxy New Republic.</p>
                                            <div class="button">
                                                <div class="btn">
                                                    <a onclick="ticf()"> <button>Get Link</button></a>
            
                                                </div>
                                                <div class="btn">
                                                    <a href="https://hdmovieshubz.guru/the-mandalorian-season-2-english-720p/"> <button>Webpage</button> </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
        </div>

        <div class="gret900">

            <section id="project" class="myprojectdetail">
                <div class="project">

                    <div class="containerP">
                        <div class="container1">
                            <div class="wrapper">
                                <a>
                                    <img onclick="imgt12()" class="4" src="../assets/invisible.jpg" alt="">
                                </a>

                                <div class="title">The Invisible Guest</div>
                                <div class="place">Rating: 8.1 / 10</div>

                            </div>
                            <div class="content">
                                <p>A successful entrepreneur accused of murder and a witness preparation impregnable defense.</p>
                                <div class="button">
                               
                                    <div class="btn">
                                        <a href="https://www.jetphotos.com/registration/D-HBUB">
                                            <button>Webpage</button> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="containerP">
                        <div class="container2">
                            <div class="wrapper">
                                <a>
                                    <img class="5" onclick="imgt22()" src="../assets/buried.jpg" alt="">
                                </a>

                                <div class="title">Buried</div>
                                <div class="place">Rating: 7.0 / 10</div>

                            </div>
                            <div class="content">
                                <p>Paul is a U.S. truck driver working in Iraq. After an attack by a group of death trap.</p>
                                <div class="button">
                            
                                    <div class="btn">
                                        <a href="https://hdmovieshubz.guru/buried-hindi-480p-720p-1080p/">
                                            <button>Webpage</button> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="containerP">
                        <div class="container3">
                            <div class="wrapper">
                                <a>
                                    <img onclick="imgt32()" class="6" src="../assets/mandal.jpg" alt="">
                                </a>

                                <div class="title">The Mandalorian</div>
                                <div class="place">Rating: 8.7 / 10</div>
                

                            </div>
                            <div class="content">
                                <p>The travels of a lone bounty hunter in the outer reaches of the galaxy New Republic.</p>
                                <div class="button">
                              
                                    <div class="btn">
                                        <a href="https://hdmovieshubz.guru/the-mandalorian-season-2-english-720p/">
                                            <button>Webpage</button> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

          
        </div>
    </section>

       




    <section id="contact" class="contact">
        <div class="container">
            <h1 class="section-heading">Contact <span>Detail</span></h1>
            <p>We provide high standard clean website for your company</p>

        </div>
        <div class="card-wrapper">
            <div class="card">
                <span class="fas fa-mobile-alt"></span>
                <h1>Call On</h1>
                <h6>+985 123 7856</h6>
            </div>
            <div class="card">
                <span class="fa fa-envelope"></span>
                <h1>Email Me At</h1>
                <h6>support@companyname.com</h6>
            </div>
            <div class="card">
                <span class="fas fa-map-marker-alt"></span>
                <h1>Visit Address</h1>
                <h6>#107/12 Od Complex,Mathura Cantt</h6>
            </div>



        </div>
        <div class="correctsend" >
            <embed src="../images/Check.gif"  ></embed>
            </div>
        <form action = 'savecontacts.php' method='POST'>
            <div class="input-wrap">
                <input type="text" placeholder="Your name *" name= 'name' id='name' required>
                <input type="email" placeholder="Your Email *" name= 'email' id='email' required>
            </div>
            <div class="input-wrap-2">
                <input type="text" placeholder="Your Subject..." name= 'desc' id='desc' required>
                <textarea cols="30" rows="10" placeholder="Your Message..." name= 'mess' id='mess' required></textarea>
            </div>
            <div>
          <button class="send" onclick="contact()">Send Message</button>
            </div>
        </form>

    </section>



    <!-- 

    /* -------------------------------End Contact Us----------------------------- */

    /* ===================================================================================================== */
    
    /* -------------------------------Footer----------------------------- */
 -->

    <footer>
        <div class="main-content">
            <div class="left box">
                <h2>About <spa>Me</spa>
                </h2>
                <div class="content">
                    <p>Neither train nor plane, neither GPS nor human caress can take you to the address of happiness</p>
                    <div class="social">
                        <a href="https://www.facebook.com"><span class="fab fa-facebook-f"></span></a>
                        <a href="https://www.instagram.com"><span class="fab fa-instagram"></span></a>
                        <a href="https://www.linkedin.com/in/akash-yadav-b4a5881b4"><span class="fab fa-linkedin-in"></span></a>
                        <a href="https://www.github.com"><span class="fab fa-github"></span></a>
                    </div>
                </div>
            </div>

            <div class="center box">
                <h2>Address</h2>
                <div class="content">
                    <div class="place text">
                        <span class="fas fa-map-marker-alt"></span>
                        <span class="text"> #107/12 Od Complex,Mathura Cantt</span>
                    </div>
                    <div class="phone text">
                        <span class="fas fa-mobile-alt"></span>
                        <span class="text"> +91-8053675048</span>
                    </div>
                    <div class="email text">
                        <span class="fas fa-envelope-open"></span>
                        <span class="text"> ay701548@gmail.com</span>
                    </div>
                </div>
            </div>

            <div class="right box">
                <h2>
                    <spa>Contact</spa> Detail
                </h2>
                <div class="content">
                    <form action="#">
                        <div class="email">
                            <div class="text">Email *</div>
                            <input type="email" required>
                        </div>
                        <div class="msg">
                            <div class="text">Message *</div>
                            <textarea name="" id="" cols="25" rows="2" required></textarea>
                        </div>
                        <div class="btn1"><button type="submit">Send</button></div>
                    </form>
                </div>
            </div>

        </div>
        <div class="copyright">
            <spa>Copyright</spa>&copy; Team Pinochio | Hackathon
        </div>
    </footer>



    <!-- 
        
/* -------------------------------End Footer----------------------------- */

/* ===================================================================================================== */
       
/* -------------------------------End----------------------------- */
    
    
    -->


    <script type="text/javascript" src="../javascripts/script.js"></script>
    <script>
        var preloader = document.getElementById("loader");

        setTimeout(function loaders() {
            preloader.style.display = "none";
        }, 3000)
    </script>
    <script>
        function toggle() {
            const breaker = document.querySelector('.breaker');
            breaker.classList.toggle('active')
            const hamnavi = document.querySelector('.hamnavi');
            hamnavi.classList.toggle('active')
        };

        function toggleSA() {
            const breaker = document.querySelector('.breaker');
            breaker.classList.toggle('active')
            setTimeout(() => {
                window.location.replace("reviewadd.php");

            }, 2000);

        };



    </script>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->



    <script>
        function cv(){
            window.open("cv.html")
        }
        function hbubf(){
            window.open("hbub.html")
        }
        function mariof(){
            window.open("mario.html")
        }
        function ticf(){
            window.open("tic.html")
        }
        function tenth(){
            window.open("10th.html")
        }
        function twelth(){
            window.open("12th.html")
        }
        function coll(){
            window.open("college.html")
        }
    </script>
    <script>
        const counters = document.querySelectorAll('.counter');
        function runCounter(){
            counters.forEach(counter => {
                counter.innerText = 0;
                let target = +counter.dataset.count;
                let step = target/100;
                let countIt = function () {
                    let displayedCount = +counter.innerText;
                    if(displayedCount < target){
                        counter.innerText =Math.ceil(displayedCount + step);
                        setTimeout(countIt,10);
                        
                    }
                    else{
                        counter.innerText = target;
                    }
                }
                countIt();

            });
        }
    
        let countersection = document.querySelector('.counter-wrapper');
        let options = {
            rootMargin:'0px 0px -100px 0px '
        }
        const sectionobserver = new IntersectionObserver(function(entries){
            if(entries[0].isIntersecting){
                runCounter();


            }

        }, options)
        sectionobserver.observe(countersection);
    </script>
    <script>


    </script>


    <script>
        const contacts = document.querySelector(".send");
        function contact() {
            contacts.classList.toggle("active")
            setTimeout(contacts.classList.toggle("active"),3700);
            }
      


        const img1 = document.querySelector(".teamdetCon .container1 .wrapper img");
        function imgt1() {
            img1.classList.toggle("active");
        }



    </script>
    <script>
        const img2 = document.querySelector(".teamdetCon .container2 .wrapper img");
        function imgt2() {
            img2.classList.toggle("active");
        }
    </script>
    <script>
        const img3 = document.querySelector(".teamdetCon .container3 .wrapper img");
        function imgt3() {
            img3.classList.toggle("active");
        }
    </script>
    <script>
        const img12 = document.querySelector(".gret900 .container1 .wrapper img");
        function imgt12() {
            img12.classList.toggle("active");
        }



    </script>
    <script>
        const img22 = document.querySelector(".gret900 .container2 .wrapper img");
        function imgt22() {
            img22.classList.toggle("active");
        }
    </script>
    <script>
        const img32 = document.querySelector(".gret900 .container3 .wrapper img");
        function imgt32() {
            img32.classList.toggle("active");
        }
    </script>
    



</body>

</html>


