<%- include("header") -%>

<body>
  <section id="banner" class="banner">
    <div class="bg-color">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#banner">Home</a></li>
                <li class=""><a href="#service">Preventives</a></li>
                <li class=""><a href="#about">About</a></li>
                <li class=""><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="banner-info">
            <div class="banner-text text-center">
              <h3 class="white">Health lock</h3>
            </div>
            <div class="banner-text text-center">
              <h1 class="white">It takes discipline not to let social media steal your time </p>
              <form class="location" action="/" method="post">
                <button id="track" type="submit" name="button">LETS TRACK</button>
            </form>
            
            </div>
            <div class="overlay-detail text-center">
              <a href="#service"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ banner-->
  
  <section id="about">
    <div class="content">
    <h1>ABO<span>UT</span></h1>
    <p> <span> Every parents wants an all round development for the child ….but is it happening really ?? </span> </p>
    <p>
      The study reveals an average teenager waste 3-4 hrs of his day on social media platforms, 2-3 hrs video streaming platforms and less than an hour on his physical exercise.
      So, there is a need to restrict their online presence and make them more aware about  health regime.
      </p>
  </div>
</section>

  <!--service-->
  <section id="service" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 feature">
          <h2 class="ser-title">Features</h2>
          <hr class="botm-line">
          <p>Access to platform after working on our health.</p>
          <p> <span> 1) Health lock </span>- A geolocation based restriction on your indiscriminate streaming. </p>
          <p> <span>2) GPS based tracker </span>- An in-built Browser based GPS locating mechanism to note your activity.</p>
          <p><span>3) Real-time authentication </span>- Record your calories burn based on your activity and authanticate your access to websites.</p>
        </div>
        <div class="detail-wrapper">
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-stethoscope"></i>
            </div>
            <div class="icon-info">
              <h4>Stay away from Doctor</h4>
              <p></p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="icon-info">
              <h4>Limited use of phone</h4>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fas fa-running"></i>
            </div>
            <div class="icon-info">
              <h4>Do exercise daily</h4>
              <p></p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-medkit"></i>
            </div>
            <div class="icon-info">
              <h4>be healthy</h4>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>


<%- include("footer") -%>