



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/button.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap" rel="stylesheet">

</head>
<body>
    <div class="bac">
        <img src="../assets/exer3.jpg" alt="">
    </div>



<form class="location" action="/newloc" method="post">
    <div class="latlon">
    <h2> LONGITUDE : <span id="aftlon"></span> </h2>
    <h2> LATITUDE : <span id="aftlat"></span></h2>
</div>
    <button type="submit" name="button" id="submit2" class="aut">SUBMIT END LOCATION</button>
</form>


<script>
    var lon,lat;

    if ('geolocation' in navigator) {
        navigator.geolocation.getCurrentPosition(async position => {
          lon_a = position.coords.longitude;
          lat_a = position.coords.latitude;
          document.getElementById("aftlon").textContent = lon_a;
          document.getElementById("aftlat").textContent = lat_a;

          const button = document.getElementById('submit2');
          button.addEventListener('click', async event =>{
            const data_a = {lat_a , lon_a};
          const options = {
              method : 'POST',
              headers :{
                  'Content-Type': 'application/json'
              },
              body : JSON.stringify(data_a)
              
          };
          const res = await fetch('/api-a' , options);
          const json_a = await res.json();
          console.log(json_a);
          });
          
        });
    } else {
        console.log("Geolocation is not supported by this browser.");
    }
</script>

</body>
</html>